{{ $.Scratch.Add "stepNumber" 1 }}
{{ partial "questions-header" . }}

<form action="/step-2" method="POST" class="questions-form">
  {{ partial "questions-form-header" . }}
  <div class="bottom-container">
    <section class="questions-form__body">
      <div class="questions-form__body__content">
        <header class="questions-form__body__content__header">
            <p>Bitte markiere die Positionen, mit denen du übereinstimmst. Klicke  <em class="fa fa-caret-down"> </em> um den Text zu sehen, der für dich generiert wird. Wir helfen dir dein Wort zu verbreiten!</p>
            <h3>Mit welchen der folgenden Positionen stimmst du überein?</h3>
        </header>
        <section class="questions-form__body__content__body">
          <div class="checkbox">
            <input id="s1-q0" name="s1-q0" type="checkbox" value="1"  />
            <label for="s1-q0"><a href="#" class="hint--question" data-hint="Netzneutralität: Das ist das Prinzip gemäß dem die Internetzugangs-Anbieter Daten ohne Diskriminierung bezüglich deren Herkunft, Ziel oder Art von Daten übertragen. Das bedeutet Netzneutralität verbietet Telekommunikationsanbietern Inhalte, Anwendungen oder Dienste zu blockieren oder nachteilig zu behandeln.">Netzneutralität</a> sichert Innovation und Wettbewerb im Internet <a href="#" class="expand-arrow"><i class="fa fa-caret-down"></i></a></label>
            <div class="predefined-message-preview">
              <p>Die Vielfalt und Innovative Kapazität des Internet-Ökosystems basiert auf den niedrigen und kostengünstigen Einstiegshürden des Markteintritts. Diese Prinzipien stellen seit dem ersten Tag sicher, dass jedes Unternehmen, Startup oder nicht-kommerzieller Dienst — gleichgültig wie klein oder wie gut finanziert - das Potential hat ein globales Publikum in einer Art und Weise wie ihre Mitbewerbern zu erreichen. Diese treibende Kraft den Wohlstand und die Vielfalt der Online Wirtschaft zu gewährleisten wird nur sichergestellt durch ein offenes, neutrales und nicht-diskriminierendes Internet. Wenn es ISPs erlaubt ist sich in die Entscheidungen ihrer Kunden durch ökonomische oder technische Diskriminierung einzumischen, dann ist diese essentielle Freiheit verloren. Gemäß der Präambel 1 der Regulierung der Netzneutralität, muss die Gesetzgebung im Zeichen dieser Ziele interpretiert werden.</p>
            </div>
          </div>
          <div class="checkbox">
            <input id="s1-q1" name="s1-q1" type="checkbox" value="1"  />
            <label for="s1-q1">Bestehenden Onlinediensten sollte es nicht möglich sein Überholspuren im Internet (<a href="#" class="hint--question" data-hint="Spezialdienste sind alle Dienste, welchen über den Internetzugang optimiert von den Internetanbietern übertragen werden können. Gemäß der Verordnung muss diese Optimierung objektiv notwendig für diesen elektronischen Dienst sein und nicht nur eine simple erhöhte Priorität sein. Die Zugangsanbieter müssen ebenfalls sicherstellen dass genügend Kapazität vorhanden ist, damit der reguläre Internetzugang nicht unterdrückt wird. Diese Notwendigkeit muss von den nationalen Telekommunikations-Regulierungsbehörden überpüft werden. Kurz gesagt, ein \"Spezialdienst\" darf keine diskriminierende \"Überholspur\" sein.">Spezialdienste</a>) zu kaufen <a href="#" class="expand-arrow"><i class="fa fa-caret-down"></i></a></label>
            <div class="predefined-message-preview">
              <p>Die Regulierung erlaubt Spezialdienste nur unter einer strengen Regelung. Artikel 3(5) und Präambel 16 erfordern, dass die Optimierung von Spezialdiensten objektiv erforderlich ist für die Funktionsweise von Kernfunktionen dieser Dienste. Dies kann nicht der Fall sein für Dienste, welche ebenfalls funktionieren im offenen, nach besten Möglichkeiten gestalteten Internet. Weiterhin verhindert Präambel 16 dass Spezialdienste als Vorwand genutzt werden um die generellen Netzneutralitäts-Regeln zu umgehen. Jede Abweichung von diesen Regeln zur Ausweitung des Konzeptes von Spezialdiensten würde in einem unausweichlichen Resultat von erhöhten Markteintritts-Barrieren enden, welche das Innovative Potential des Internet als Ganzen schwächen.</p>
            </div>
          </div>
          <div class="checkbox">
            <input id="s1-q2" name="s1-q2" type="checkbox" value="1"  />
            <label for="s1-q2">Die Erlaubnis der ISPs für Überholspuren Geld zu verlangen motiviert diese den Rest des Internets langsamer zu machen <a href="#" class="expand-arrow"><i class="fa fa-caret-down"></i></a></label>
            <div class="predefined-message-preview">
              <p>Wenn es ISPs erlaubt wäre für bevorzugte Behandlung bezahlt zu werden, dann wäre dies ein Anreiz die Investitionen in die Kapazität des „normalen“ Internets zu stoppen, die Datenvolumina zu reduzieren und ihre Kunden zu ermuntern bevorzugt diese Spezialdienste zu nutzen. Dieser Effekt wäre schädlich für Minderheiten, benachteiligte Personen und Startups welche es nicht nicht leisten können speziellen Zugang zu allen Netzwerken zu erhalten in welchen sie Kunden erreichen möchten, sowie für die Entwicklung des freien, offenen und innovativen Internet Ökosystem.</p>
            </div>
          </div>
          <div class="checkbox">
            <input id="s1-q3" name="s1-q3" type="checkbox" value="1"  />
            <label for="s1-q3"><a href="#" class="hint--question" data-hint="Zero-Rating ist eine kommerzielle Praxis bei der für Downloads von bestimmten Anwendungen und Diensten kein Datenvolumen vom monatlichen Kundenkonto abgezogen wird. Zero-Rating behandelt unterschiedliche Daten in unterschiedlichen Art und Weisen, wodurch für einige ein Preis verlangt wird und für andere ein anderer Preis. Obwohl technisch abweichend von klassischen Netzneutralitäts-Verletzungen, ist es identisch in den praktischen Auswirkungen indem es Internetanbietern erlaubt zu beeinflussen welche Anwendungen und Dienste genutzt werden und welche nicht.">Zero-Rating</a> beeinflusst meine Entscheidungen online und diskriminiert zwischen Onlinediensten und Anwendungen <a href="#" class="expand-arrow"><i class="fa fa-caret-down"></i></a></label>
            <div class="predefined-message-preview">
              <p>Ökonomische Diskriminierung (Zero-Rating) beeinflusst mein Recht gemäß Artikel 3(1) frei auf Informationen zuzugreifen, und insbesondere, diese zu verbreiten. Wenn ein ISP zwischen Inhalteanbietern, Programmen und Diensten über einen Internetzugang diskriminiert indem diese ungleich erreichbar gemacht werden, begründet dies eine willkürliche Beeinflussung des Wesens meines Rechts. Weiterhin verbietet diese Praxis meine Rechte der Grundrechts-Charta (Artikel 11, 15(2) und 16). Daher muss ökonomische Diskriminierung durch die BEREC Richtlinien verboten werden.</p>
            </div>
          </div>
          <div class="checkbox">
            <input id="s1-q4" name="s1-q4" type="checkbox" value="1"  />
            <label for="s1-q4">Das Internet sollte sämtlichen Datenübertragungen gleich behandeln, sofern dies möglcih ist; wenn ISPs willkürlich <a href="#" class="hint--question" data-hint="Klassen-basiertes Management unterscheidet zwischen Kategorien von Anwendugnen. Ein gut bekanntes Beispiel hierfür ist die Einschränkung von Peer-to-Peer Filesharing als Reaktion auf eine Netzüberlastung.">Dienste-Klassen</a> drosseln oder priorisieren dürfen, hat dies negative Konsequenzen für die Online Freiheit <a href="#" class="expand-arrow"><i class="fa fa-caret-down"></i></a></label>
            <div class="predefined-message-preview">
              <p>Die Regulierung hat sehr klare Regeln was begründetes Traffic Management darstellt. Gemäß Artikel 3(3) muss, wenn möglich, jede Form des Traffic Managements in einer nicht wahrnehmbaren Art und Weise durchgeführt werden. Klassen-basiertes Traffic Management beeinträchtigt Wettbewerb; es riskiert ungewollten Schaden an spezifischen Anwendungen; es kann verschlüsselten Datenverkehr diskriminieren; es schafft Unsicherheit für Inhalte- und Dienstanbietern; es unterdrückt Innovation; es beeinträchtigt einzelne Nutzer und es kann zu einer Überregulierung führen. Die Anwendung von Klassen-basiertem Traffic Management in Situationen in welchen ein nicht wahrnehmbares Traffic Management ausreichen würde, ist weder notwendig, angemessen, transparent für den Nutzer noch nicht-diskriminierend.</p>
            </div>
          </div>
          <div class="checkbox">
            <input id="s1-q5" name="s1-q5" type="checkbox" value="1"  />
            <label for="s1-q5">Transparenz ist eine notwendige - aber nicht ausreichende - Vorraussetzung für ein freies und neutrales Internet <a href="#" class="expand-arrow"><i class="fa fa-caret-down"></i></a></label>
            <div class="predefined-message-preview">
              <p>Transparenz kann nicht, wie im initialen Regulierungs-Entwurf der Kommission vorgeschlagen und anschließend verworfen, als ein Gegenmittel zu wettbewerbswidrigem Verhalten gesehen werden. Transparenz hat limitierte Möglichkeiten im Lösen von Probleme, insbesondere in diesem Kontext.</p>
            </div>
          </div>
          <fieldset class="form-group">
            <label for="s1-q6">Bitte gibt deinen Namen/Organisation ein <a href="#" class="expand-arrow"><i class="fa fa-caret-down"></i></a></label>
            <div class="question-explanation">
              <p class="p1"><span class="s1">Denke dran, dass deine Antworten gemäß der Verordnung (EC) Nr 1049/2001 öffentlich zugänglich gemacht werden können.</span></p>
            </div>
            <textarea class="form-control" id="s1-q6" name="s1-q6" rows="3"></textarea>
          </fieldset>
          <div class="checkbox">
            <input id="s1-q7" name="s1-q7" type="checkbox" value="1"  />
            <label for="s1-q7">Klicke diese Box, falls du nicht willst, dass dein Kommentar von der BEREC veröffentlicht wird <a href="#" class="expand-arrow"><i class="fa fa-caret-down"></i></a></label>
            <div class="predefined-message-preview">
              <p>Bitte betrachten Sie diesen Kommentar als Vertraulich und veröffentlichen Sie diesen nicht.</p>
            </div>
          </div>
        </section>
        <section class="questions-form__body__content__actions">
          <div class="country-rgd-message">
           Du musst zunächst dein Land auswählen!
          </div>
          <button type="submit" class="action-button-next" data-require-country-click="1" name="section" value="2">Weiter <i class="fa fa-chevron-right"></i></button>
          <button class="action-button-go-to-submission" data-require-country-click="1" type="submit" name="section" value="4">
           Zum Absenden <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
          </button>
        </section>
      </div>
    </section>
  </div>
</form>

{{ partial "questions-footer.html" . }}
