{{ $language := .Site.Params.language }}

<section class="home__fix-net-neutrality">
  <div class="home__fix-net-neutrality__container">
    <div class="home__fix-net-neutrality__container__content">
      <header class="home__fix-net-neutrality__container__content__header">
        <h1>Ce trebuie reparat</h1>
      </header>
      <section class="home__fix-net-neutrality__container__content__specialised-services">
        <img src="/images/specialised_services.svg" />
        <h2>Servicii Specializate</h2>
        <p>Serviciile Specializate riscă să devină banda rapidă contra cost pentru marile companii, ceea ce va împinge tot restul site-urilor, ideilor și startup-urilor pe banda lentă.
          <br>
          <a href="/{{ $language }}/faq/#specialised-services" target="_blank">citește mai mult în FAQ</a>
        </p>
      </section>
      <section class="home__fix-net-neutrality__container__content__traffic-management">
        <img src="/images/traffic_management.svg" />
        <h2>Managementul Traficului</h2>
        <p>Nu lăsa furnizorul tău de Internet să decidă ce trafic este important și ce servicii online să încetinească, dupa bunul său plac.
          <br>
          <a href="/{{ $language }}/faq/#traffic-management" target="_blank">citește mai mult în FAQ</a>
        </p>
      </section>
      <section class="home__fix-net-neutrality__container__content__zero-rating">
        <img src="/images/zero_rating.svg" />
        <h2>Zero Rating</h2>
        <p>Pare că primești ceva gratis, dar îți transformă operatorul de telefonie mobilă într-un portar care decide cine intră și cine iese și îi dă un motiv pentru limite de trafic scăzute.
          <br>
          <a href="/{{ $language }}/faq/#zero-rating" target="_blank">citește mai mult în FAQ</a>
        </p>
      </section>
    </div>
  </div>
</section>
