<section class="home__contact">
  <div class="home__contact__container">
    <div class="home__contact__container__content">
      <header class="home__contact__container__contact">
        <h2>Contactează-ne</h2>
        <h3>
	  Contactează-ne la <span class="bold"> <a href="mailto:info@savetheinternet.eu">info@savetheinternet.eu</a></span>
	</h3>
	<p>
	  Ai o idee despre cum poate fi îmbunătățit acest site? Excelent, avem nevoie de tine! Codul sursă complet al acestui site este <a href="https://github.com/Netzfreiheit/STI-UI">pe GitHub</a> și poate fi forkat, îmbunătățit, remixat și pushat înapot către noi.
	</p>
	<p>
	  Un lucru de care avem întotdeauna este ajutor cu traducerile, așa că dacă vorbești o limbă pe care nu o avem încă, te rugăm să ne contactezi.
	</p>
      </header>
      <section class="home__contact__container__privacy">
        <h5>Politică de Confidențialitate</h5>
	<p>
          Stocăm comentariile tale pentru consultarea BEREC în căsuța de mesaje a unei adrese de e-mail găzduită în Austria până când forwardăm aceste emailuri cu comentarii la consultarea oficială BEREC. Poți găsi Politica de Confidențialitate a consultărilor BEREC <a href="http://berec.europa.eu/eng/document_register/subject_matter/berec_office/download/0/4615-privacy-statement-berec-office-policy-do_0.pdf">aici</a>. BEREC va publica toate răspunsurile care nu sunt marcate ca fiind confidențiale. Organizațiile din spatele acestei campanii s-ar putea să analizeze comentariile trimise către BEREC prin intermediul acestui site, dacă acestea nu sunt marcate ca fiind confidențiale. La o lună după ce perioada oficială de consultare s-a terminat, vom șterge toate comentariile.
	</p>
        <p>
	  Colectăm informații ne-personalizată pe acest site cu <a href="https://piwik.org/">Piwik</a>; un pachet de web analytics prietenos cu datele tale personale.
	</p>
        <p>
	  Dacă te inscrii la newsletter, adresa ta de email va fi stocată într-o lista de mailuri și într-o bază de date.
	</p>
      </section>
    </div>
  </div>
</section>
