<section class="home__info">
  <div class="home__info__container">
    <div class="home__info__container__content">
      <header class="home__info__container__content__berec-decision-1">
        <h2>În 2015, Uniunea Europeană a adoptat o lege privind neutralitatea Internetului …</h2>
        <p><a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32015R2120">Regulamentul UE</a> conține principii bune pentru a asigura că te poți conecta la orice alt punct din Internet fără discriminare. Cu toate acestea, anumite părți ale regulamentului ar putea fi abuzate pentru a submina neutralitatea Internetului. Legiuitorii au decis să lase responsabilitatea clarificării neclarităților din text pe seama autoritărilor de reglementare în telecomunicații.</p>
      </header>
      <section class="home__info__container__content__berec-decision-2">
        <h2>Comitetul autoritărilor de reglementare a comunicațiilor electronice din Europa (BEREC) trebuie să pregătească ghidul de implementare pentru interpretarea ambiguităților legii până la sfârșitul lui August 2016. Acest ghid va determina dacă Europa se va bucura de neutralitatea Internetului sau nu.</h2>
      </section>
      <section class="home__info__container__content__berec-decision-3">
        <p>În Iunie 2016, BEREC plănuiește să publice o primă versiune a ghidului și să lanseze o consultare publică, Cu toate acestea, regulile de procedură ale BEREC spun că publicul poate răspunde doar în <strong>intervalul 6 Iunie - 18 Iunie</strong> iar Regulamentul spune că BEREC trebuie să publice forma finală a ghidului pe 30 August 2016. Asta înseamnă ca cetățenii vor avea doar <strong>câteva săptămâni</strong> la dispoziție pentru a răspunde iar BEREC va avea doar <strong>un pic peste o lună</strong> pentru a procesa comentariile, ajusta ghidul și apoi trece prin procedura administrativă pentru acceptarea formală a oricaror modificări făcute la forma inițială.</p>
      </section>
      <section class="home__info__container__content__net-neutrality-roadmap">
        <h2>Harta Neutralității Internetului în UE</h2>
      </section>
      <section class="home__info__container__content__berec-decision-5">
        <h3>Acesta este un moment cucial: Acesta este pasul unde au fost obținute succese importante în Statele Unite și în India. De aceeea, trebuie să continuăm să luptăm pentru o reală neutralitate a Internetului convingând autoritățile de reglementare de valoarea unui Internet liber și deschis.</h3>
        <p>Autoritățile de reglementare trebuie sa se înarmeze cu instrumentele necesare pentru aplicarea neutralității Internetului. La Save The Internet, considerăm ca BEREC nu va avea suficient timp să proceseze și să ia în considerare în mod atent potențialele zeci de mii de răspunsuri (autoritarea de reglementare din Statele Unite a primit 3.7 milioane de răspunsuri la consultarea lor!). Putem îndrepta balanța facilitând contribuția cât mai eficientă la consultare pentru cât mai multe persoane.</p>
        <p>Recent, BEREC a organizat întâlniri față în față cu multiple grupuri ale părților interesate. Am tradus întrebările puse de BEREC părților interesate (<a href="https://edri.org/edris-first-input-on-net-neutrality-guidelines/">vezi aici</a> și <a href="https://www.accessnow.org/rekindling-net-neutrality-our-meeting-with-eus-telecoms-regulators/">aici</a>) la aceste întâlniri într-un limbaj ușor de înțeles și am adăugat câteva pe care le-am considerat ca fiind necesare.</p>
        <h2>BEREC <a href="#send-a-message">are nevoie de răspunsurile tale</a> înainte să decidă viitorul neutralitățill în Europa.</h2>
      </section>
    </div>
  </div>
</section>
