{{ $.Scratch.Add "stepNumber" 2 }}
{{ partial "questions-header" . }}

<form action="/step-3" method="POST" class="questions-form">
  {{ partial "questions-form-header" . }}
  <div class="bottom-container">
    <section class="questions-form__body">
      <div class="questions-form__body__content">
        <header class="questions-form__body__content__header">
          <p>Expresa tu opinión contestando a las cuestiones a continuación, haz click en &nbsp;<i class="fa fa-caret-down"></i> para más información.</p>
        </header>
        <section class="questions-form__body__content__body">
          <fieldset class="form-group">
            <label for="q10">¿Cuales podrían ser los impactos positivos y negativos de los servicios específicos en el futuro de la innovación y la Internet abierta? <a href="#" class="expand-arrow"><i class="fa fa-caret-down"></i></a></label>
            <div class="question-explanation">
              <p>Mientras que los servicios específicos están permitidos en la Regulación, estos no pueden ser ofrecidos como sustituro a los servicios de acceso a Internet. De otro modo, los proveedores de Internet estarían llevando a cabo prácticas de discriminación por precio. En sus <a href="http://berec.europa.eu/files/news/bor_12_32_guidelines.pdf" target="_blank">directrices de 2012</a>, el ORECE estipuló que las prácticas de discriminación por precio ofreciendo acceso limitado a una parte de Internet tendrían efectos negativos en los derechos de los consumidores.</p>
            </div>
            <textarea class="form-control" id="q10" name="q10" rows="3"></textarea>
          </fieldset>
          <fieldset class="form-group">
            <label for="q10">¿Cuales podrían ser los impactos positivos y negativos de los servicios específicos en el futuro de la innovación y la Internet abierta? <a href="#" class="expand-arrow"><i class="fa fa-caret-down"></i></a></label>
            <div class="question-explanation">
              <p>Mientras que los servicios específicos están permitidos en la Regulación, estos no pueden ser ofrecidos como sustituro a los servicios de acceso a Internet. De otro modo, los proveedores de Internet estarían llevando a cabo prácticas de discriminación por precio. En sus <a href="http://berec.europa.eu/files/news/bor_12_32_guidelines.pdf" target="_blank">directrices de 2012</a>, el ORECE estipuló que las prácticas de discriminación por precio ofreciendo acceso limitado a una parte de Internet tendrían efectos negativos en los derechos de los consumidores.</p>
            </div>
            <textarea class="form-control" id="q10" name="q10" rows="3"></textarea>
          </fieldset>
        </section>
        <section class="questions-form__body__content__actions">
          <button class="action-button-back" type="submit" name="action" value="1"><i class="fa fa-chevron-left"></i> Atrás</button>
          <button class="action-button-next" type="submit" name="action" value="3">Next <i class="fa fa-chevron-right"></i></button>
          <button class="action-button-go-to-submission" type="submit" name="action" value="4">Ir a enviar <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></button>
        </section>
      </div>
    </section>
  </div>
</form>

{{ partial "questions-footer.html" . }}
