{{ $iframeURL := "https://consultation.savetheinternet.eu/en/" }}

{{ if eq .Site.Params.language "de" }}
  {{ $iframeURL := "https://consultation.savetheinternet.eu/de/" }}
{{ end }}

<section class="home__questions">
  <div class="home__questions__container">
    <div class="home__questions__container__content">
      <header class="home__questions__container__content__header">
        <h1>Fordere deine nationalen Regulierungsbehörde und die BEREC auf die Netzneutralität zu beschützen</h1>
        <p>Teile deiner Regulierungsbehörde deine Meinung über die neuen Netzneutralitätsregeln mit indem du den nachfolgenden Fragebogen benutzt. Durch das Antworten auf mehrere Antworten im Multiple Choice Teil und in den offenen Fragen wird eine E-Mail für dich generiert. Deine E-Mail wird von uns an die EU Telekommunikations Regulierngsbehörden (BEREC) übermittelt, wenn die offizielle Konsultation im Juni 2016 beginnt.</p>
        <p>Die BEREC hat ihren Sitz in Riga mit leider nur beschränkte Übersetzungsmöglichkeiten. Wir müssen dich daher bitten die Umfrage auf Englisch auszufüllen, da auf Grund der kurzen Frist deine Nachricht womöglich nicht berücksichtigt werden kann.</p>
      </header>
      <section class="home__questions__container__content__body">
        <div id="questionnaire-loading-spinner">Lade Umfrage <i class="fa fa-circle-o-notch fa-spin"></i></div>
        <iframe id="home__questions__container__content__body__iframe" class="home__questions__container__content__body__form" src="{{ $iframeURL }}" scrolling="no"></iframe>
        <!-- <iframe id="home__questions__container__content__body__iframe" class="home__questions__container__content__body__form" src="/step-1" scrolling="no"></iframe> -->
      </section>
    </div>
  </div>
</section>
