{{ $.Scratch.Add "stepNumber" 4 }}
{{ partial "questions-header" . }}

<form action="/step-3" method="POST" class="questions-form">
  {{ partial "questions-form-header" . }}
  <div class="bottom-container">
    <section class="questions-form__body">
      <div class="questions-form__body__content">
        <header class="questions-form__body__content__header">
          <h1>Sende jetzt diese E-Mail an deine Regulierungsbehörde</h1>
        </header>
        <section class="questions-form__body__content__body">
          <fieldset class="form-group">
            <label for="response">Deine E-Mail:</label>
            <textarea class="form-control" id="response" data-response-count="6" rows="15">
Sehr geehrte Damen und Herren,

Bitte berücksichtigen Sie diesen Kommentar eines Betroffenen bezüglich der Erstellung der BEREC Netzneutralitäts-Richtlinien.

Die Vielfalt und Innovative Kapazität des Internet-Ökosystems basiert auf den niedrigen und kostengünstigen Einstiegshürden des Markteintritts. Diese Prinzipien stellen seit dem ersten Tag sicher, dass jedes Unternehmen, Startup oder nicht-kommerzieller Dienst — gleichgültig wie klein oder wie gut finanziert - das Potential hat ein globales Publikum in einer Art und Weise wie ihre Mitbewerbern zu erreichen. Diese treibende Kraft den Wohlstand und die Vielfalt der Online Wirtschaft zu gewährleisten wird nur sichergestellt durch ein offenes, neutrales und nicht-diskriminierendes Internet. Wenn es ISPs erlaubt ist sich in die Entscheidungen ihrer Kunden durch ökonomische oder technische Diskriminierung einzumischen, dann ist diese essentielle Freiheit verloren. Gemäß der Präambel 1 der Regulierung der Netzneutralität, muss die Gesetzgebung im Zeichen dieser Ziele interpretiert werden.

Die Regulierung erlaubt Spezialdienste nur unter einer strengen Regelung. Artikel 3(5) und Präambel 16 erfordern, dass die Optimierung von Spezialdiensten objektiv erforderlich ist für die Funktionsweise von Kernfunktionen dieser Dienste. Dies kann nicht der Fall sein für Dienste, welche ebenfalls funktionieren im offenen, nach besten Möglichkeiten gestalteten Internet. Weiterhin verhindert Präambel 16 dass Spezialdienste als Vorwand genutzt werden um die generellen Netzneutralitäts-Regeln zu umgehen. Jede Abweichung von diesen Regeln zur Ausweitung des Konzeptes von Spezialdiensten würde in einem unausweichlichen Resultat von erhöhten Markteintritts-Barrieren enden, welche das Innovative Potential des Internet als Ganzen schwächen.

Wenn es ISPs erlaubt wäre für bevorzugte Behandlung bezahlt zu werden, dann wäre dies ein Anreiz die Investitionen in die Kapazität des „normalen“ Internets zu stoppen, die Datenvolumina zu reduzieren und ihre Kunden zu ermuntern bevorzugt diese Spezialdienste zu nutzen. Dieser Effekt wäre schädlich für Minderheiten, benachteiligte Personen und Startups welche es nicht nicht leisten können speziellen Zugang zu allen Netzwerken zu erhalten in welchen sie Kunden erreichen möchten, sowie für die Entwicklung des freien, offenen und innovativen Internet Ökosystem.

Ökonomische Diskriminierung (Zero-Rating) beeinflusst mein Recht gemäß Artikel 3(1) frei auf Informationen zuzugreifen, und insbesondere, diese zu verbreiten. Wenn ein ISP zwischen Inhalteanbietern, Programmen und Diensten über einen Internetzugang diskriminiert indem diese ungleich erreichbar gemacht werden, begründet dies eine willkürliche Beeinflussung des Wesens meines Rechts. Weiterhin verbietet diese Praxis meine Rechte der Grundrechts-Charta (Artikel 11, 15(2) und 16). Daher muss ökonomische Diskriminierung durch die BEREC Richtlinien verboten werden.

Die Regulierung hat sehr klare Regeln was begründetes Traffic Management darstellt. Gemäß Artikel 3(3) muss, wenn möglich, jede Form des Traffic Managements in einer nicht wahrnehmbaren Art und Weise durchgeführt werden. Klassen-basiertes Traffic Management beeinträchtigt Wettbewerb; es riskiert ungewollten Schaden an spezifischen Anwendungen; es kann verschlüsselten Datenverkehr diskriminieren; es schafft Unsicherheit für Inhalte- und Dienstanbietern; es unterdrückt Innovation; es beeinträchtigt einzelne Nutzer und es kann zu einer Überregulierung führen. Die Anwendung von Klassen-basiertem Traffic Management in Situationen in welchen ein nicht wahrnehmbares Traffic Management ausreichen würde, ist weder notwendig, angemessen, transparent für den Nutzer noch nicht-diskriminierend.

Transparenz kann nicht, wie im initialen Regulierungs-Entwurf der Kommission vorgeschlagen und anschließend verworfen, als ein Gegenmittel zu wettbewerbswidrigem Verhalten gesehen werden. Transparenz hat limitierte Möglichkeiten im Lösen von Probleme, insbesondere in diesem Kontext.

Mit freundlichen Grüßen,
ein besorgter Bürger
            </textarea>
            <button class="action-button-back" type="submit" name="action" value="3"><i class="fa fa-chevron-left"></i> Zurück</button>
          </fieldset>
        </section>
        <section class="questions-form__body__content__actions">
          <p class="email-step" data-hidden-when-empty-response="#response">
            <span class="email-step-number">Schritt 1:</span> Kopiere mit einem Rechtsklick --> Kopieren (oder Strg+C) den obigen Text oder<br>
            <a href="#" class="btn action-button" id="copy-button" data-clipboard-target="#response" data-copied-text="Text copied!" role="button">klicke hier</a>
          </p>
          <p class="email-step">
            <span class="email-step-number">Schritt 2:</span>
            Erstelle eine E-Mail <a href="mailto:oskar.grande@gmail.com?bcc=oskar@daruma.io" class="action-button">auf deinem Gerät</a>
            <br>
            oder über
            <a class="action-button" role="button">Gmail</a> <a class="action-button" role="button">Yahoo</a> <a class="action-button" role="button">Hotmail</a>
          </p>
          <p class="email-step">
            <span class="email-step-number">Schritt 3:</span> Kopiere den Text mit Rechtsklick -> Füge den Text ein (Strg+V) und senden ihn ab.
          </p>
        </section>
      </div>
    </section>
  </div>
</form>

{{ partial "questions-footer" . }}
