{{ $language := .Site.Params.language }}

<section class="home__fix-net-neutrality">
  <div class="home__fix-net-neutrality__container">
    <div class="home__fix-net-neutrality__container__content">
      <header class="home__fix-net-neutrality__container__content__header">
        <h1>Ce qu'il faut régler</h1>
      </header>
      <section class="home__fix-net-neutrality__container__content__specialised-services">
        <img src="/images/specialised_services.svg" />
        <h2>Services spécialisés</h2>
         <p>Les services spécialisés risquent de devenir une voie express payante pour les grandes entreprises d'Internet et de reléguer tous les autres sites web, les autres idées et les start-up dans le traffic à vitesse réduite.
          <br>
          <a href="/{{ $language }}/faq/#specialised-services" target="_blank">plus de détails dans la FAQ</a>
        </p>
      </section>
      <section class="home__fix-net-neutrality__container__content__traffic-management">
        <img src="/images/traffic_management.svg" />
           <h2>Gestion du traffic</h2>
         <p>Ne laissez pas votre fournisseur d'accès décider de ce qui constitue un traffic important et quels services en ligne il peut ralentire, à son entière discrétion.
          <br>
          <a href="/{{ $language }}/faq/#traffic-management" target="_blank">plus de détails dans la FAQ</a>
        </p>
      </section>
      <section class="home__fix-net-neutrality__container__content__zero-rating">
        <img src="/images/zero_rating.svg" />
        <h2>Zero Rating</h2>
         <p>Ca donne l'impression que l'on reçoit quelque chose gratuitement, mais cela donne à votre opérateur mobile le contrôle sur votre traffic et donne un prétexte pour abaisser les volumes de données mensuels.
          <br>
          <a href="/{{ $language }}/faq/#zero-rating" target="_blank">plus de détails dans la FAQ</a>
        </p>
      </section>
    </div>
  </div>
</section>
