<section class="home__contact">
  <div class="home__contact__container">
    <div class="home__contact__container__content">
      <header class="home__contact__container__contact">
        <h2>Contact Us</h2>
    <h3>
      N'hésitez pas à nous contacter à <span class="bold"> <a href="mailto:info@savetheinternet.eu">info@savetheinternet.eu</a></span>
    </h3>
    <p>
      Vous voyez un moyen d'améliorer ce site ? Magnifique, nous en avons grand besoin ! Le code source complet du site est <a href="https://github.com/Netzfreiheit/STI-UI">disponible sur GitHub</a> et peut se forker, s'améliorer, se remixer et nous être renvoyé.
    </p>
    <p>
       Une des choses dont nous avons particulièrement besoin, c'est les traductions, alors si vous parlez une langue que nous n'avons pas encore, contactez-nous !
    </p>
      </header>
      <section class="home__contact__container__privacy">
        <h5>Politique de confidentialité</h5>
    <p>
       Nous enregistrons vos commentaires à la consultation ORECE dans le répertoire entrant d'un compte mail hébergé en Autriche avant de les faire suivre à la consultation ORECE. Vous trouverez la politique de confidentialité de l'ORECE pour les consultations <a href="http://berec.europa.eu/eng/document_register/subject_matter/berec_office/download/0/4615-privacy-statement-berec-office-policy-do_0.pdf">ici</a>. Le ORECE publiera toutes les réponses non marquées confidentielles. Les organisations impliquées dans cette campagne sont par ailleurs susceptibles d'analyser les commentaires envoyés au ORECE par l'intermédiaire de ce site web, s'ils ne sont pas marqués confidentiels. Nous détruirons tous les commentaires un mois après la fin de la période officielle de consultation.
    </p>
        <p>
      Nous collectons l'information sans caractère personnel sur ce site web avec <a href="https://piwik.org/">Piwik</a>, un logiciel d'analyse de traffic web respectueux de la vie privée.
    </p>
      Si vous vous inscrivez à notre liste de diffusion, votre adresse mail sera enregirstrée dans la liste de diffusion et dans une base de données.
    </p>
      </section>
    </div>
  </div>
</section>
