<section class="home__info">
  <div class="home__info__container">
    <div class="home__info__container__content">
      <header class="home__info__container__content__berec-decision-1">
        <h2>En 2015, l'Union européenne a adopté une législation sur la neutralité du Net…</h2>
       <p><a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32015R2120">Le Règlement de l'Union européenne</a> comprend des principes sains pour garantir les connections d'un point du net à un autre sans discrimination. Cependant, certaines parties de ce règlement pourraient être détournées pour saper la neutralité du Net. Les législateurs ont décidé de laisser la responsabilité de déterminer le sens des points ambigus du texte aux régulateurs des télécommunications.</p>
        
      </header>
      <section class="home__info__container__content__berec-decision-2">
        <h2>L'Office de l’Organe des régulateurs européens des communications électroniques (ORECE) est chargé de préparer les lignes directrices d'implémentation pour interpréter les ambiguités de la loi d'ici à août 2016. Ces lignes directrices vont décider de ce que l'Europe bénéficie de la neutralité du net ou non.</h2>
      </section>
      <section class="home__info__container__content__berec-decision-3">
        <p>En juin 2016, l'ORECE prévoit de publier un brouillon des lignes directrices et de lancer une consultations publique. Cependant, les règles de procédure de l'ORECE dictent que le public n'a que <strong>du 6 juin ou 18 juillet</strong> pour répondre et le Règlement spécifie que l'ORECE doit publier ses lignes directrices définitives le 30 août 2016. Il en découle que les citoyens n'auront que <strong>quelques semaines</strong> pour répondre à la consultation et que l'ORECE n'aura qu'à peine plus d'un mois pour traiter les (potentiellement milliers de) commentaires ou mises à jour du brouillon des lignes directrices, puis passer par le processus administratif pour approuver formellement chaque fait au brouillon.</p>
      </section>
      <section class="home__info__container__content__net-neutrality-roadmap">
        <h2>Agenda de l'UE sur la Neutralité du Net</h2>
      </section>
      <section class="home__info__container__content__berec-decision-5">
        <h3>Nous sommes à la croisée des chemins : c'est le moment où de grands succès ont eu lieu aux États-Unis et en Inde. C'est pourquoi nous devons continuer à promouvoir une réelle neutralité du Net en convaicant les régulateurs de la valeur d'un Internet libre et ouvert.</h3>
         <p>Les régulateurs doivent se donner les moyens de faire respecter la neutralité du Net. À Save The Internet, nous pensons que l'ORECE n'aura pas assez de temps pour traiter et prendre pleinement en compte les dizaines de milliers de réponses (les régulateurs américains des télécoms ont reçu 3,7 millions de réponses à leur consultation !). Nous pouvons rétablir l'équilibre en permettant à chacun de contribuer effectivement aux lignes directrices de façon plus efficace.</p>
         <p>Récemment, l'ORECE a organisé des rencontres en personne avec les groupes intéressés. Nous avons traduit les questions que l'ORECE a posées aux intéressés (<a href="https://edri.org/edris-first-input-on-net-neutrality-guidelines/">voir ici</a> et <a href="https://www.accessnow.org/rekindling-net-neutrality-our-meeting-with-eus-telecoms-regulators/">ici</a>) lors de ces entrevues en anglais simple et ajouté quelques autres lorsque nous l'avons pensé nécessaire.</p>
         <h2>L'ORECE <a href="#send-a-message">a besoin de votre avis</a> pour pouvoir décider de l'avenir de la neutralité du Net en Europe.</h2>
        
      </section>
    </div>
  </div>
</section>
