<section class="home__spread-the-word">
  <div class="home__spread-the-word__container">
    <div class="home__spread-the-word__container__content">
      <section class="home__spread-the-word__container__content__social">
        <h2>¡Difúnde!</h2>
        <ul class="home__spread-the-word__container__content__social__icons">
          <li>
            <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p%5Burl%5D=http://www.savetheinternet.eu/es/&amp;p%5Bimages%5D%5B0%5D=https://www.savetheinternet.eu/images/hero.png&amp;p%5Btitle%5D=Help%20Save%20the%20Internet&amp;p%5Bsummary%5D=Ayuda%20a%20salvar%20the%20internet.%20Dile%20a%20tus%20reguladores%20que%20protejan%20la%20neutralidad%20del%20la%20red.">
              <i class="fa fa-facebook fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/intent/tweet?text=Ayuda%20a%20salvar%20the%20internet.%20Dile%20a%20tus%20reguladores%20que%20protejan%20la%20neutralidad%20del%20la%20red.%20http%3A%2F%2Fwww.savetheinternet.eu/es/%2F%20%23SaveTheInternet">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/share?url=http://www.savetheinternet.eu/">
              <i class="fa fa-google-plus fa-2x"></i>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>