{{ $language := .Site.Params.language }}

<section class="home__fix-net-neutrality">
  <div class="home__fix-net-neutrality__container">
    <div class="home__fix-net-neutrality__container__content">
      <header class="home__fix-net-neutrality__container__content__header">
        <h1>Qué hay que solucionar</h1>
      </header>
      <section class="home__fix-net-neutrality__container__content__specialised-services">
        <img src="/images/specialised_services.svg" />
        <h2>Servicios Específicos</h2>
        <p>Los servicios específicos amenazan en convertirse la vía rápida de pago para las grandes compañías de Internet, empujando a todos los demás sitios web, ideas y "start-ups" a la línea lenta.
          <br>
          <a href="/{{ $language }}/faq/#specialised-services" target="_blank">leer más en Preguntas Frecuentes</a>
        </p>
      </section>
      <section class="home__fix-net-neutrality__container__content__traffic-management">
        <img src="/images/traffic_management.svg" />
        <h2>Gestión del Tráfico</h2>
        <p>No permitas que tu proveedor de Internet decida por ti que tráfico es importante y que servicios ralentiza a su propio criterio.
          <br>
          <a href="/{{ $language }}/faq/#traffic-management" target="_blank">leer más en Preguntas Frecuentes</a>
        </p>
      </section>
      <section class="home__fix-net-neutrality__container__content__zero-rating">
        <img src="/images/zero_rating.svg" />
        <h2>"Zero Rating"</h2>
        <p>Aunque parezca que te dan algo gratis, tu operador móvil se convierte en guarda de tu conexión y le da una razón para mantener bajo tu límite de datos mensual.
          <br>
          <a href="/{{ $language }}/faq/#zero-rating" target="_blank">leer más en Preguntas Frecuentes</a>
        </p>
      </section>
    </div>
  </div>
</section>
