<section class="home__info">
  <div class="home__info__container">
    <div class="home__info__container__content">
      <header class="home__info__container__content__berec-decision-1">
        <h2>En 2015, la Unión Europea adoptó una legislación sobre neutralidad de la red…</h2>
        <p><a href="http://eur-lex.europa.eu/legal-content/ES/TXT/?uri=CELEX:32015R2120">La Regulación EU</a> contiene buenos principios para asegurar que puedas conectarte a cualquier otro punto de la red sin discriminaciones. No obstante, existe el peligro de que se abuse de algunas partes de la regulación para minar la neutralidad de la red. Los legisladores decidieron dejar en manos de los reguladores de telecomunicaciones la responsabilidad de aclarar las incertidumbres del texto.</p>
      </header>
      <section class="home__info__container__content__berec-decision-2">
        <h2>El Organismo de Reguladores Europeos de las Comunicaciones Electrónicas (ORECE) tiene que preparar las directrices de implementación que interpreten las ambigüedades de la ley para finales de agosto de 2016. Estas directrices determinarán si Europa consigue tener una red neutral o no.</h2>
      </section>
      <section class="home__info__container__content__berec-decision-3">
        <p>En Junio de 2016, el ORECE publicará el borrador de sus directrices y lanzará una consulta pública. Sin embargo, de acuerdo con los procedimientos del ORECE la consulta estará abierta 20 días hábiles y el ORECE tiene que publicar sus directrices finales el 30 de agosto de 2016. Esto significa que los ciudadanos dispondremos solo de un mes para responder a la consulta y el ORECE tiene a penas unas pocas semanas para procesar los (potencialmente miles) de comentarios, actualizar sus directrices, y después pasar por el proceso administrativo para aceptar formalmente cualquier cambio al borrador inicial.</p>
      </section>
      <section class="home__info__container__content__net-neutrality-roadmap">
        <h2>Guía de la Neutralidad de la Red en la UE</h2>
      </section>
      <section class="home__info__container__content__berec-decision-5">
        <h3>Éste es un momento crucial: Ésta es la fase en la que enormes victorias se ganaron en Estados Unidos y la India. Así pues, debemos continuar presionando por una neutralidad de la red real convenciendo a los reguladores del valor de una Internet libre y abierta.</h3>
        <p>Los reguladores deben proveerse de las mejores herramientas para aplicar la neutralidad de la red. En Save The Internet pensamos que el ORECE no tendrá suficiente tiempo para procesar debidamente y tener en cuenta las miles de respuestas (¡los reguladores de telecomunicaciones de EEUU recibieron 3,7 millones de respuestas a su consulta!). Podemos re-equilibrar la balanza permitiendo que todo el mundo pueda contribuir en la elaboración de las directrices de manera apropiada.</p>
        <p>Recientemente, el ORECE organizó un encuentro cara a cara de partes interesadas. Hemos recopilado nuestras respuestas a las cuestiones que el ORECE nos realizó en el encuentro <a href="https://edri.org/edris-first-input-on-net-neutrality-guidelines/">aquí</a> y <a href="https://www.accessnow.org/rekindling-net-neutrality-our-meeting-with-eus-telecoms-regulators/">aquí</a>, en inglés sencillo y añadiendo algunas otras que, creemos, también son necesarias.</p>
        <h2>El ORECE necesita oír tu <a href="#send-a-message">opinión</a> antes de decidir sobre el futuro de la neutralidad de la red en Europa.</h2>
      </section>
    </div>
  </div>
</section>
