<section class="home__contact">
  <div class="home__contact__container">
    <div class="home__contact__container__content">
      <header class="home__contact__container__contact">
        <h2>Contacta con nosotros</h2>
        <h3>
	  Puedes contactar con nosotros en  <span class="bold"> <a href="mailto:info@savetheinternet.eu">info@savetheinternet.eu</a></span>
	</h3>
	<p>
	  ¿Tienes ideas para mejorar la web? ¡Estupendo, te necesitamos! El código fuente de la página está disponible en <a href="https://github.com/Netzfreiheit/STI-UI">GitHub</a>, puedes hacer un "fork", mejorar, remezclar y luego hacernos un "push" de vuelta.
	</p>
	<p>
	  Una de las cosas que siempre necesitamos es ayuda con las traducciones, así que si hablas algún idioma que no tenemos cubierto hasta ahora, por favor contacta con nosotros.
	</p>
      </header>
      <section class="home__contact__container__privacy">
        <h5>Política de Privacidad</h5>
	<p>
          Almacenamos tus comentarios para el ORECE en la bandeja de entrada de una dirección e-mail alojada en Austria hasta que los enviemos todos los mails con vuestros comentarios a la consulta oficial del ORECE. Puedes leer la política de privacidad para las consultas del ORECE <a href="http://berec.europa.eu/eng/document_register/subject_matter/berec_office/download/0/4615-privacy-statement-berec-office-policy-do_0.pdf">aquí</a>. El ORECE publicará todas las respuestas que no hayan sido marcadas como confidenciales. Las organizaciones impulsoras de esta campaña podrían también analizar los comentarios que se han enviado al ORECE a través de este sitio web, siempre que no hayan sido marcados como confidenciales. Un mes después de que acaba el periodo de la consulta oficial eliminaremos todos los comentarios.
	</p>
        <p>
	  Recogemos información no-personalizada en esta web a través del software respetuoso con la privacidad <a href="https://piwik.org/">Piwik</a>.
	</p>
        <p>
	  Si te suscribes a la newsletter tu email se almacenará en una base de datos y en una lista de correo.
	</p>
      </section>
    </div>
  </div>
</section>
